body {
  font-family: Arial, sans-serif;

  background-color: #f0f0f0;
  background-image: url("https://images.pexels.com/photos/159020/sunset-sky-afterglow-evening-sky-159020.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");

  background-size: cover;
  background-repeat: no-repeat;
  background-hight: 800px;
}

.container {
  text-align: center;
  padding: 20px;
}

.weath-info {
}

.cityname {
}
